@import '../Pages/Variables.scss';


#confirmation {
  padding: 20%;
  background-color: $backgroundColor;
  display: flex;
  justify-content: center;
  align-content: space-around;
  background-image: url("./images/cutegraykitten.webp.png");
  background-repeat: no-repeat ;
}

