@import "./Variables.scss";

#box {
  // display: flex;
  background-color: red;
  height: 100%;
  
}


#RCard {
  display: flex;
  float: right;
  width: 60%;
  height: 50%;
}

#LCard {
  background-color: $backgroundColor;
  display: flex;
  float: left;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  margin-top: 15%;
  height: 50%;
  border-top: #3AAFA9 solid 5px;
  border-bottom: #3AAFA9 solid 5px;
}

#LCard h1 {
  font-size: 1.75rem;
  color: #17252A;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-top: 5%;
}
